<header class="hero-unit " id="banner" >
  <div class="container">
    <h1>REPAIR YOUR SMARTPHONE</h1>
    <p class="lead">PROFESSIONALS GO TO YOUR OFFICE OR RESIDENCE</p>
    <button type="submit" class="btn btn-primary btn-cta" ui-sref="repair.device">Repair</button>
  </div>
</header>

<!--div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dummy data for testing:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in main.awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="main.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="main.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>
      </span>
    </p>
  </form>
  *Remove this container in production
</div-->

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div align="center">
        <h1 class="page-header">REPAIR YOUR SMARTPHONE</h1>
        <h2>PROFESSIONALS GO TO YOUR OFFICE OR RESIDENCE</h2>
      </div>

    </div>
  </div>
</div>
